.order-list{
    top: 150px;
    text-align: center;
    margin:auto;
    position: absolute;
    left: 30%

}

.completedClass {
    background-color: green;
    border-radius: 10rem;
}

.rejectedClass {
    background-color: red;
    border-radius: 10rem;
}

.pendingClass {
    background-color: yellow;
    border-radius: 10rem;
}

.awaitingClass {
    background-color: orange;
    border-radius: 10rem;
}

.holdingClass {
    background-color: aqua;
    border-radius: 10rem;
}

.partialClass {
    background-color: lightgreen;
    border-radius: 10rem;
}
