<!-- <ul *ngFor="let order of orders">
    <li>{{order.order_type}}</li>
</ul> -->

<div style="margin: auto;">
    <div class="order-list">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Type</th>
                    <th scope="col">Ticker</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                    <!-- <th scope="col">Value</th> -->
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders; index as i"
                [ngSwitch]= "order.order_status">
                    <td>{{i+1}}</td>
                    <td>{{order.id}}</td>
                    <td>{{order.order_type}}</td>
                    <td>{{order.ticker}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.price}}</td>
                    <td [ngClass] = "{
                        'completedClass': order.order_status === 'completed',
                        'rejectedClass': order.order_status === 'rejected',
                        'pendingClass': order.order_status === 'pending',
                        'awaitingClass': order.order_status === 'awaiting',
                        'holdingClass': order.order_status === 'holding',
                        'partialClass': order.order_status === 'partially_fulfilled'
                    }" >{{order.order_status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
