<app-top-nav></app-top-nav>
<app-navigation></app-navigation>
<div>
  <div class="pull-right">
    <a routerLink="/portfolio-form">
      <bi name="plus-circle-fill"></bi>
      <p>Create Portfolio</p>
    </a>
    <a routerLink="/portfolio-list">
      <bi name="cogs"></bi>
      <p>Portfolio</p>
    </a>
  </div>
  <div class="div">
    <div class="order-list">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">No. Stocks</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let portfolio of portfolios">
            <td>{{portfolio.id}}</td>
            <td>{{portfolio.name}}</td>
            <td>
              <button (click)="viewPortfolio(portfolio.id)">View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
