<div class="row" style="margin-top: 7%;">
    <!-- Image -->
    <div class="col-7 ml-5 pl-5">
        <h1 class="text-center">SIMBA</h1>
        <img src="../../../assets/backgroundImage.jpg" class="img-fluid sm" alt="Responsive image">
    </div>

    <!-- Form -->
    <div class="container col-3 mx-5" style="margin-left: 20px;">
        <div class="card" style="border-radius: 10px;">
            <div class="card-title">
                <h3 class="text-center" style="margin: 10%;"> Sign Up </h3> 
            </div>
            <div class="card-body" style="margin: 10%;">
                <form (ngSubmit)="submit(register)" #register="ngForm">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                      <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstname" #firstName="ngModel" class="form-control" required>
                      <!-- <div *ngIf="firstName.touched" class="alert alert-danger"> First Name required</div> -->
                    </div>
  
                    <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastname" #lastName="ngModel" class="form-control" required>
                      <!-- <div *ngIf="lastName.touched" class="alert alert-danger"> Last Name required</div> -->
                    </div>
  
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" class="form-control" required>
                        <div *ngIf ="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                            <div *ngIf ="email.touched && email.invalid"> Email Invalid </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" class="form-control" required>
                        <div class="alert alert-danger" *ngIf="password.touched && password.invalid">Password Invalid</div>
                    </div>
  
                    <div class="form-group form-check">
                        <button type="submit" class="btn btn-primary col-6 offset-3" style="border-radius: 10px;" [disabled]="register.invalid">Create an account</button>
                    </div>
                    <h5>Already have an account? <a routerLink="/login"> Sign In </a></h5>
                </form>
            </div>
        </div>
    </div>
</div>