<div class="row" style="margin-top: 7%;">
    <!-- Image -->
    <div class="col-7 ml-5 pl-5">
        <h1 class="text-center">SIMBA</h1>
        <img src="../../../assets/backgroundImage.jpg" class="img-fluid sm" alt="Responsive image">
    </div>

    <!-- Form -->
    <div class="container col-3 mx-5" style="margin-left: 20px;">
        <div class="card" style="border-radius: 10px;">
            <div class="card-title">
                <h3 class="text-center" style="margin: 10%;"> Sign Up </h3> 
            </div>
            <div class="card-body" style="margin: 10%;">
                <form (ngSubmit)="submit(register)" #register="ngForm">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                      <input type="text" [ngClass]="{ 'alert alert-danger': firstName.invalid && firstName.touched }" id="firstName" name="firstName" [(ngModel)]="user.firstname" #firstName="ngModel" class="form-control" minlength="3" required>
                      <ng-container  *ngIf="firstName.invalid && firstName.touched">
                        <small class="alert alert-danger" *ngIf="firstName.errors.required || firstName.errors.minlength"> First Name Invalid! </small>
                    </ng-container>
                    </div>
  
                    <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" [ngClass]="{ 'alert alert-danger': lastName.invalid && lastName.touched }" id="lastName" name="lastName" [(ngModel)]="user.lastname" #lastName="ngModel" class="form-control" minlength="3" required>
                      <ng-container  *ngIf="lastName.invalid && lastName.touched">
                        <small class="alert alert-danger" *ngIf="lastName.errors.required || lastName.errors.minlength"> Last Name Invalid! </small>
                    </ng-container>
                    </div>
  
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" [ngClass]="{ 'alert alert-danger': email.invalid && email.touched }" id="email" name="email" [(ngModel)]="user.email" pattern=".+@.+.com$" #email="ngModel" class="form-control" required minlength="4" />
                            <ng-container  *ngIf="email.invalid && email.touched">
                                <small class="alert alert-danger" *ngIf="email.errors.required"> Email is required!</small>
                                <small class="alert alert-danger" *ngIf="email.errors.pattern"> Enter a valid email </small>
                            </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" [ngClass]="{ 'alert alert-danger': password.invalid && password.touched }" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" class="form-control" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{5,}" required>
                        <ng-container  *ngIf="password.invalid && password.touched">
                            <small class="alert alert-danger" *ngIf="password.errors.required"> Password is required!</small>
                            <small class="alert alert-danger" *ngIf="password.errors.pattern"> Password must contain a number, lower, uppercase and 5 characters</small>
                        </ng-container>
                    </div>
  
                    <div class="form-group form-check">
                        <button type="submit" class="btn btn-primary col-6 offset-3" style="border-radius: 10px;" [disabled]="register.invalid">Create an account</button>
                    </div>
                    <h5>Already have an account? <a routerLink="/login"> Sign In </a></h5>
                </form>
            </div>
        </div>
    </div>
</div>