.market-data{
    position: absolute;
    top: 300px;
    left: 30rem;
    overflow: visible;
    height: 500px;
}

.data-card{
    width: 150px;
    height: 50px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.16);
    font-size: 15px;
    font-weight: 200;
    text-align: center;
}