<app-top-nav></app-top-nav>
<app-navigation></app-navigation>

<div class="container col-4 mx-2 order">
    <div class="card" style="border-radius: 10px;">
        <div class="card-title">
            <h3 class="text-center" style="margin: 10%;"> Create an Order </h3> 
            <!-- added this -->
            <!-- <p>{{newOrder.product}}</p> -->
        </div>
        <div class="card-body">
            <form (ngSubmit)="submit(order)" #order="ngForm">
              <div class="form-group">
                <label for="product">Select Product</label>
                  <select class="form-control" id="product"
                  [(ngModel)] = "newOrder.product" name="product">
                      <option *ngFor="let product of products" [value]="product">{{product}}</option>
                  </select>
              </div>
              <div class="row">
                  <div class="col">
                    <div class="form-group">
                          <input type="number" class="form-control" name="price" id="price" 
                          required
                          [(ngModel)]="newOrder.price" placeholder="Price"
                          />
                      </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                          <input type="number" class="form-control" name="quantity" id="quantity" 
                          required
                          [(ngModel)]="newOrder.quantity" placeholder="Quantity"
                          />
                      </div>
                  </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="product">Portfolio</label>
                    <select class="form-control" name="portfolio" id="portfolio" 
                    required
                    [(ngModel)] ="newOrder.portfolio">
                        <option *ngFor="let port of portfolio" [value]="port">{{port.name}}</option>
                    </select>
                   </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="order_type">Order Type</label>
                    <select class="form-control" name="order_type" id="order_type" 
                    required
                    [(ngModel)]="newOrder.order_type">
                        <option *ngFor="let type of order_type" [value]="type">{{type}}</option>
                    </select>
                    </div>
                </div>
            </div>

                <div class="form-group form-check">
                    <button type="submit" class="btn btn-primary col-6 offset-3" style="border-radius: 10px;" [disabled]="order.invalid">CREATE ORDER</button>
                </div>
            </form>
        </div>
    </div>
</div>