<app-top-nav></app-top-nav>
<app-navigation></app-navigation>

<div class="container col-4 mx-2 order">
    <div class="card" style="border-radius: 10px;">
        <div class="card-title">
            <h3 class="text-center" style="margin: 10%;"> Create an Order </h3> 
        </div>
        <div class="card-body">
            <form (ngSubmit)="submit(order)" #order="ngForm">
              <div class="form-group">
                  <select class="form-control" name="product" id="product" 
                  required
                  [(ngModel)]="products">
                      <option *ngFor="let prod of products" [value]="prod">{{prod}}</option>
                  </select>
              </div>

                <div class="form-group form-check">
                    <button type="submit" class="btn btn-primary col-6 offset-3" style="border-radius: 10px;" [disabled]="order.invalid">CREATE ORDER</button>
                </div>
            </form>
        </div>
    </div>
</div>