/* .topnav{
    display: flex;
    position: absolute;
    left: 15rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 20px;
    width: 82%;
    overflow-x: hidden;

} */

.topnav {
    background-color: white;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 80%;
    left: 15%;
    /* padding-left: 2rem;
    padding-right: 2rem; */
  }

.pageTitle {
    font-size: 2rem;
    font-weight: bold;
    /* margin-top: 2%; */
    padding-left: 2%;
}

.image {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.date{
    margin-left: 60%;
    font-size: 15px;
    font-weight: bolder;
}