.topnav{
    display: flex;
    position: absolute;
    left: 15rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    /* background-color: black; */
    margin-left: 20px;
    width: 86%;
}

.pageTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2%;
    padding-left: 2%;
}

.image {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.date{
    margin-left: 60%;
    font-size: 15px;
    font-weight: bolder;
}