<div class="stats-div">
    <div class="row">
        <div class="col-sm-4">
            <div class="card stats-card">
                <div>Portfolios</div>
                <div>{{portfolio_number}}</div>
            </div>

            <!-- <div class="card stats-card-two">
                <div class="stat-data">
                    <div>Portfolios</div>
                    <div>{{portfolio_number}}</div>
                </div>
            </div> -->
        </div>
        <div class="col-sm-4">
            <div class="card stats-card">
                <div>Wallet</div>
                <div>$ {{wallet}}</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card stats-card">
                <div>Orders</div>
                <div>{{order_number}}</div>
            </div>
        </div>
    </div>
</div>
