<!-- <div class="stats-div">
    <mat-card class="stats-card">Portfolios</mat-card>
    <mat-card class="stats-card">Wallet</mat-card>
    <mat-card class="stats-card">Orders</mat-card>

     <div class="stats-card">Portfolios</div>
    <div class="stats-card">Wallet</div>
    <div class="stats-card">Orders</div>
</div> -->

<div class="stats-div">
    <div class="row">
        <div class="col-sm-4">
            <div class="card stats-card">Portfolios</div>
            <div>{{portfolio_number}}</div>
        </div>
        <div class="col-sm-4">
            <div class="card stats-card">Wallet</div>
            <div>{{wallet}}</div>
        </div>
        <div class="col-sm-4">
            <div class="card stats-card">Orders</div>
            <div>{{order_number}}</div>
        </div>
    </div>
</div>
