<app-top-nav></app-top-nav>
<app-navigation></app-navigation>
<div class="container col-6 mx-2 div">
  <div class="card" style="border-radius: 10px; border: 2px solid black;">
    <div class="card-title">
      <h2 class="text-center pt-5"> Stocks </h2> 
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped table-reponsive">
        <thead>
          <tr>
            <th scope="col">Products</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let portfolio of portfolios">
            <td>{{portfolio.products}}</td>
            <td>{{portfolio.stocks}}</td>
            <td>{{portfolio.name}}</td>
            <td>{{portfolio.stocks}}</td>
            <td>
              <a *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item"> View stocks </a>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>